* {
    margin: 0;
    box-sizing: border-box;
}
 
html, body {
    height: 100%;
} 

.header {
    width: 100%; /* width is 100% of the screen */
    background-color: #DE7C5A;
    position: fixed;
    height: 82px;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 30px 30px 30px;
    top: 0;
    z-index: 1;
    border: solid 5px #880D1E;
    text-align: center;
}

#home-main-content {
    background-color: #DDB0A1;
    margin-left: 20%;
    top: 82px;
    position: relative;
    min-height: calc(100vh - 82px);
    width: 80%;
    display: flex;
    flex-direction: column;
}

#home-main-content h1 {
    font-family: bold;
    padding: 20px 0px 5px 20px;
}

#home-main-content h2, h3, h4 {
    font-family: bold;
    padding: 20px 0px 5px 20px;
}

#home-main-content p {
	padding: 0px 0px 5px 20px;
}

#home-main-content {
}

.nav ul {
    font-family: bold;
	position: relative;
	margin-left: 0;
    padding-left: 1.0em;
}

.nav li {
    padding: 3px 5px;
}

#sidebar .nav {
    width: 20%;
    background-color: #DE7C5A;
    border: solid 5px #E55934;
    position: fixed;
    z-index: 0.5;
    height: 100%;
    top: 82px; /* Stay at the top */
    padding: 20px 20px;
}


#history {
  background-color: DDB0A1;
}

table, th, td {
  border: 1px solid black;
  padding: 5px;
}

th, td {
  text-align: center;
}

table {
  margin-left: 20px;
  margin-bottom: 25px;
}

#example-block {
  padding: 0px 40px;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

A[name] {
    padding-top:100px;
}

.logo {
    position: fixed;
    margin-top: -10px;
    margin-left: 35px;
}

iframe {
    margin-left: 20px;
}